dataset/2019腾讯广告算法大赛_初赛数据.zip
dataset/2019腾讯广告算法大赛_复算数据.zip
dataset/pre/ad_operation.dat
dataset/pre/ad_static_feature.out
dataset/pre/Btest_sample_new.dat
dataset/pre/test_sample.dat
dataset/pre/totalExposureLog.h5
dataset/pre/update_Btest_sample.dat
dataset/pre/user_data
dataset/semi/atest_tracklog.zip
dataset/semi/final_map_bid_opt.out
dataset/semi/final_select_test_request.out
dataset/semi/map_ad_static.out
dataset/semi/test_sample_bid.out
dataset/semi/test_tracklog_20190423.last.out
dataset/semi/track_log_20190410.out
dataset/semi/track_log_20190411.out
dataset/semi/track_log_20190412.out
dataset/semi/track_log_20190413.out
dataset/semi/track_log_20190414.out
dataset/semi/track_log_20190415.out
dataset/semi/track_log_20190416.out
dataset/semi/track_log_20190417.out
dataset/semi/track_log_20190418.out
dataset/semi/track_log_20190419.out
dataset/semi/track_log_20190420.out
dataset/semi/track_log_20190421.out
dataset/semi/track_log_20190422.out
dataset/semi/track_log1.zip
dataset/semi/track_log2.zip
dataset/semi/track_log3.zip
dataset/semi/track_log4.zip
dataset/semi/user_data.out
dataset/semi/user_data.zip
